@layer base {
    html,
    body {
      margin: 0;
      padding: 0;
      background: var(--background);
      color: var(--foreground);
      font-family: var(--font-sans);
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  
      overflow-x: hidden;
      overflow-y: auto;
    }
  
    * {
      box-sizing: border-box;
    }
  }